*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", sans-serif;
    
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
height: 92px;
background-color: rgba(65, 37, 103, 1);
color: white;
padding: 16px 200px;
gap: auto;
}
.logo{
    width: 14rem;
    height: 2rem;
}
.menubtn{
    width: 8rem;
    height: 3rem;
    background: linear-gradient(45deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    color:white; 
   
    padding: 16px 12px;
    gap: 4px;
}
ul{
list-style: none;

}
.menu{
   width: 218px;
   height: 19px; 
 gap: 32px;

}
.image-card{
    width: 550px;
    height:558px;
   margin-top: 50px;
   gap: 80px;
   flex-direction:column
  
}
.tech-test{
    height: 73px;
    width:550px ;
    font-size: 60px;
 word-spacing: -0.2em;
 font-weight: bold;
 text-align: center;
}
.tech-para{
   font-size: 16px;
 opacity: 80%;
 font-weight: normal;
 line-height:normal;
}
.banner{
    max-width: 1600px;
    height: 760px ;
    background: url(./B13-A02-TechWave/assets/hero-bg.png);
    display: flex;
    flex-direction: column;
}
.round{
    width: 350px;
    height: 350px;
    margin: 0 auto;
   background: linear-gradient(122deg,rgba(131, 58, 180, 1) 0%, rgba(253, 66, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 50%;
    flex-direction: column;
    
}
.badge{
    width: 75px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(96, 236, 96);
    margin-right: 50px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.mike-img{
    width: 200px;
    height: 200px;
    padding-top: 35px;
  margin:0 auto;
  text-align: center;
  justify-items: center;
}
.image-content{
max-width: 550px;
height: 168px;
flex-direction: column;
}
.text{
    flex-direction: column;
    height: 100px;
    width:550px ;
}
.btn1{
    width: 201px;
    height: 44px;
    background: linear-gradient(122deg,rgba(131, 58, 180, 1) 0%, rgba(253, 66, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    display: flex;
    padding: 5px 8px 5px;
    
}
.btn2{
    width: 147px;
    height: 44px;  
    color:rgb(75, 255, 75);
    border-radius: 20px;
    background-color:rgb(25, 14, 55);
    border: 1px solid green;
     display: flex;

}
.btn{
    text-align: center;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  gap: 8px;
}
/* banner end  */
.about-section{
  max-width: 1600px;
    height:646px ;
    background-color: rgb(26, 11, 46);
    color: white;
   padding: 30px 200px 120px 200px;
   gap: 20px;
}
.about{
    max-width: 1200px;
    height: 222px;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.about-para{
    max-width: 1200px;
    height:148px ;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    flex-direction: column;
}
.line{
   max-width: 1200px;
   height: 646px;
   padding: 50px 80px 80px 50px;
}
.hori-line{
    width: 1000px;
    height: 0px;
    padding-right: 80px;
    border: -.01px solid rgb(226, 218, 226);
    text-align: center;    
}
.about-icon{
    width: 1200px;
    height: 94px;
    gap: 20px;
}
.icon{
    width: 240px;
    height: 94px;
    text-align: center;
    margin-top: 15px;
}
h3{
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.icon>p{
    color: #FFFFFF;
}
/* about close */
/* grid start */
.choose-section{
    max-width: 1600px;
    height:1121px;
    padding: 200px 120px;
    flex-direction: column;
    background-color:rgb(26, 11, 46) ;
    gap: 40px;
}
.choose-head{
    max-width: 1200px;
    height: 58px;
}
.choose-container{
    max-width: 1200px;
    height: 783px;
   
    display: grid;
  /* background-color: rgb(42, 15, 77); */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    
   grid-template-areas: 
  "a a b b b b"
  "a a b b b b"
  "a a c c c c"
  "d d d d e e"
  "d d d d e e "
  ; 
  
}
.item{
    border-radius: 20px;
    border: 2px white solid;
    gap: 30px;
    background-color: rgb(42, 15, 77);
    
}
/* for primium */
.item-1{
    
    grid-area: a;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 16px;
}
/* for mob */
.item-2{
    grid-area: b;
    padding: 40px;
    gap: 16px;
    
}
/* for gol */
.item-3{
    grid-area: c;
     padding: 40px;
   
}
/* for ex */
.item-4{
    grid-area:d ;
     padding: 40px;
    
}
/* rich */
.item-5{
    grid-area:e ;
     padding: 40px;
    
}
.choose{
    flex-direction: column;
    text-align: left;
    gap: 16px;
    
}
.choose>h3{
    font-size: 24px; 
    color: white;
}
.choose>p{
    color: #eedede;
}
.featured-section{
    max-width: 1600px;
    /* height: 1276px; */
    background-color:#1A0B2E ;
    gap: 20px;
    padding: 80px 200px;
}
.featured-container{
max-width: 1200px;
    height: 538px;
     padding: 80px 200px;
    
    flex-wrap: wrap;
}
.card{
    max-width: 1200px;
    height:440px ;
    gap: 30px;
      
}
.feature-icon{
    width:332px ;
    height: 24px;
    color: green;
    gap: 6px;
}
.card1{
  max-width: 380px;
    height:400px ;
    flex-direction: column;
    border-radius: 20px;
    padding: 24px 24px;
    background-color:rgb(37, 13, 68) ;

       
}
.card2{
     max-width: 380px;
    height:400px ;
    flex-direction: column;
     border-radius: 20px;
    padding: 24px 24px;
    background-color:rgb(37, 13, 68) ;

}
.card3{
     max-width: 380px;
    height:400px ;
    flex-direction: column;
    border-radius: 20px;
    padding: 24px 24px;
    background-color:rgb(37, 13, 68) ;

}
/* meet section start */
.meet-container{
 max-width: 1200px;
    height:378px ;
    flex-direction: column;
    flex-shrink: 0;
      background-color:rgb(26, 11, 46) ;
      margin-top: 120px;
      gap: 40px;
      
     
}
.meet-text{
  width: 100%;  
  height: 150px;
   background-color:rgb(37, 13, 68) ;
   border-radius: 20px;
   gap: 15px;
   flex: 1;
   text-align: left;
   padding: 20px 20px 40px; 
}
.meet-img{
    width:100 px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    text-align: center;
    align-items: center;    
}
.meet-icon{
    gap: 20px;
}
.meet-icon1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px blueviolet solid;
    padding: 10px;
}
.meet-icon-container{
    gap: 6px;
    width: 180px;
    height: 40px;
    justify-items: left;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
}
.text{
 line-height: 24px;
 gap: 20px;
 flex-direction: column;
 text-align: left;
 align-items: flex-start;

 
}
/* footer section */
.footer-section{
    max-width: 1600px;
    height: 412px;
    background: url(./B13-A02-TechWave/assets/footer-bg.png);
     padding: 150px;
    
    
}
.footer-container{
    max-width: 1360px;
    height: 172px;
    flex-direction: column; 
    gap: 20px;
}
.footer-social{
    color:rgb(192, 186, 186);
    width: 544px;
    height:24px ;
    gap: 40px;
}
.copyright{
    color: rgb(192, 186, 186);
}






@media screen and (max-width:576px) {
    .menu, .menubtn {
display: none;
    }
    
}
@media screen and (max-width:576px) {
    .nav{
        gap: 40px;
    }

    }
    
