*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", sans-serif;
    
}
.display{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
height: 92px;
background-color: rgba(65, 37, 103, 1);
color: white;
padding: 16px 200px;
gap: auto;
}
.logo{
    width: 14rem;
    height: 2rem;
}
.menubtn{
    width: 8rem;
    height: 3rem;
    background: linear-gradient(45deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    color:white; 
   
    padding: 16px 12px;
    gap: 4px;
}
ul{
list-style: none;

}
.menu{
   width: 218px;
   height: 19px; 
 gap: 32px;

}
.image-card{
    width: 550px;
    height:558px;
   margin-top: 50px;
   gap: 80px;
   flex-direction:column
  
}
.tech-test{
    height: 73px;
    width:550px ;
    font-size: 60px;
 word-spacing: -0.2em;
 font-weight: bold;
 text-align: center;
}
.tech-para{
   font-size: 16px;
 opacity: 80%;
 font-weight: normal;
 line-height:normal;
}
.banner{
    max-width: 1600px;
    height: 760px ;
    background: url(./B13-A02-TechWave/assets/hero-bg.png);
    display: flex;
    flex-direction: column;
}
.round{
    width: 350px;
    height: 350px;
    margin: 0 auto;
   background: linear-gradient(122deg,rgba(131, 58, 180, 1) 0%, rgba(253, 66, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 50%;
    flex-direction: column;
    
}
.badge{
    width: 75px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(96, 236, 96);
    margin-right: 50px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.mike-img{
    width: 200px;
    height: 200px;
    padding-top: 35px;
  margin:0 auto;
  text-align: center;
  justify-items: center;
}
.image-content{
max-width: 550px;
height: 168px;
flex-direction: column;
}
.text{
    flex-direction: column;
    height: 100px;
    width:550px ;
}
.btn1{
    width: 201px;
    height: 44px;
    background: linear-gradient(122deg,rgba(131, 58, 180, 1) 0%, rgba(253, 66, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    display: flex;
    padding: 5px 8px 5px;
    
}
.btn2{
    width: 147px;
    height: 44px;  
    color:rgb(75, 255, 75);
    border-radius: 20px;
    background-color:rgb(25, 14, 55);
    border: 1px solid green;
     display: flex;

}
.btn{
    text-align: center;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  gap: 8px;
}
/* banner end  */
.about-section{
  max-width: 1600px;
    height:646px ;
    background-color: rgb(26, 11, 46);
    color: white;
   padding: 30px 200px 120px 200px;
   gap: 20px;
}
.about{
    max-width: 1200px;
    height: 222px;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.about-para{
    max-width: 1200px;
    height:148px ;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    flex-direction: column;
}
.line{
   max-width: 1200px;
   height: 646px;
   padding: 50px 80px 80px 50px;
}
.hori-line{
    width: 1000px;
    height: 0px;
    padding-right: 80px;
    border: -.01px solid rgb(226, 218, 226);
    text-align: center;    
}
.about-icon{
    width: 1200px;
    height: 94px;
    gap: 20px;
}
.icon{
    width: 240px;
    height: 94px;
    text-align: center;
    margin-top: 15px;
}
h3{
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.icon>p{
    color: #FFFFFF;
}
/* about close */
/* grid start */

@media screen and (max-width:576px) {
    .menu, .menubtn {
display: none;
    }
    
}
@media screen and (max-width:576px) {
    .nav{
        gap: 40px;
    }

    }
    
